<div class="jumbotron text-center">
    <h1>{{activity.activityName}}</h1>
    <p>{{activity.activityDescription}}</p>
    <object *ngIf="activity['activityType'] == 'html'" data="/assets/sample.html" width="500" height="200"></object>
    <embed *ngIf="activity['activityType'] == 'pdf'" src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf"
        width="800px" height="2100px" />
    <iframe *ngIf="activity['activityType'] == 'video'" width="560" height="315" src="https://www.youtube.com/embed/0eWrpsCLMJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>