<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form>
        <div class="form-outline mb-4">
            <input type="username" id="form2Example1" class="form-control" placeholder="Username" />
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
        </div>

        <div class="text-center">
            <button type="button" class="btn bg-course-light btn-block mb-4" (click)="goToCourse()">Login</button>
        </div>

    </form>
</section>