.divider {
    border-right: 2px solid #000;
    width: 115px;
    float: left;
}

.course-card {
    background-color: #f2f1f1;
    border: 2px solid #4473c5 !important;    
}

.rating-label {
    float: left;
    width: 73px;
}

.rating-bar {
    float: left;
    margin-top: 8px;
}